@import url(https://fonts.googleapis.com/css?family=Lora);
style.css
body {
	text-align: center;
font-family:'Lora', serif;
	background:#000;
}
p{
	font-family: georgia, serif;
	font-size:18px;
	line-height: 1.5em;
	margin 2em; 
}

